<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Decorator Bootstrap</display-name>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>vn.iotstar.controllers.ProfileController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>views/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>vn.iotstar.models.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>vn.iotstar.configs.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IUserDAO</display-name>
    <servlet-name>IUserDAO</servlet-name>
    <servlet-class>vn.iotstar.dao.IUserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IUserDAO</servlet-name>
    <url-pattern>/IUserDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDAOImpl</display-name>
    <servlet-name>UserDAOImpl</servlet-name>
    <servlet-class>vn.iotstar.dao.impl.UserDAOImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAOImpl</servlet-name>
    <url-pattern>/UserDAOImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IUserService</display-name>
    <servlet-name>IUserService</servlet-name>
    <servlet-class>vn.iotstar.services.IUserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IUserService</servlet-name>
    <url-pattern>/IUserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServiceImpl</display-name>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>vn.iotstar.services.impl.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/UserServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>vn.iotstar.controllers.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
</web-app>